@charset "UTF-8";

.aMain {
    text-decoration: none;
    color: black;
    background-color: #ddd6d6;
    display: inline-flex;
    width: 100px;
    height: 30px;
    font-size: 13.5px;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
}

.divLogin {
    border-style: solid;
    border-width: 1px;
    height: 46px;
    width: 120px;
    float: right;
    margin-right: 180px;
    margin-left: 16px;
    margin-top: 12px;
    background-color: #ffffff;
    border-radius: 5px;
}

.pIcon {
    background-color: transparent;
    align-items: center;
    margin-top: 8px;
    margin-left: 6px;
}

.pLoginText {
    float: right;
    margin-right: 6px;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}

.divSendRecipe {
    border-style: solid;
    border-width: 1px;
    width: 140px;
    height: 46px;
    float: right;
    margin-top: 12px;
    border-width: 1px;
    background-color: #ff6a00;
    border-radius: 5px;
}

.pSendRecipe {
    background-color: transparent;
    align-items: center;
    margin-top: 8px;
    margin-left: 6px;
}

.divSearch {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 426px;
    height: 46px;
    float: right;
    margin-top: 12px;
    margin-right: 16px;
    border-width: 1px;
    background-color: #ffffff;
}

    .divSearch .divSearchContainer {
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        width: 426px;
        height: 200px;
        float: right;
        margin-top: 2px;
        border-width: 1px;
        z-index: 1;
        position: relative;
        display: none;
    }

    .divSearch:hover .divSearchContainer {
        display: block;
        background-color: #ddd6d6;
    }

    .divSearch .divSearchContainer span {
        display: inline-block;
        margin-left: 10px;
        margin-top: 12px;
        font-size: 17px;
        font-weight: bold;
        color: black;
    }

    .divSearch .divSearchContainer a {
        display: inline-block;
        background-color: white;
        width: 80px;
        height: 24px;
        padding: 3px 0 0 0;
        margin: 4px 0 0 8px;
        border-radius: 25px;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 16px;
    }

    .divSearch input[type=search] {
        all: unset;
        font: 16px system-ui;
        color: #fff;
        height: 100%;
        width: 360px;
        padding-left: 6px;
        float: left;
    }

    .divSearch button {
        all: unset;
        cursor: pointer;
        width: 46px;
        height: 100%;
        float: right;
        font-size: 16px;
        font-weight: lighter;
        background-color: #d91616;
        color: white;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .divSearch button:hover {
            font-size: 20px;
        }

.tableContainerDiv {
    z-index: -1;
    height: 70px;
    background-color: #d91616;
}


.table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 500px;
    height: 70px;
    margin: auto;
}

    .table .cell {
        width: 25%;
        font-size: 15px;
        text-align: center;
        vertical-align: top;
        position: relative;
        border: 1px solid;
    }

    .table .aHeader {
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .table td .divContainer {
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        width: 732px;
        height: 200px;
        margin-top: 52px;
        border-width: 1px;
        background-color: #d91616;
        position: absolute;
        display: none;
        z-index: 1;
    }

.divContainer .divItem {
    border-style: solid;
    border-width: 1px;
    width: 238px;
    height: 194px;
    background-color: brown;
    float: left;
    margin: 2px 2px 2px 2px;
    position: relative;
    z-index: 2;
}

.table .cell:hover .divContainer {
    display: block;
}

.table .cell:hover {
    background-color: #550404;
}

.nav li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}

.nav li {
    text-align: left;
    list-style-type: none;
    color: red;
}

    .nav li a:hover {
        background-color: #550404;
    }

.active {
    background-color: yellow;
}

.image {
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    top: 23px;
    left: 42px;
}
